* {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 15px;
  padding: 0px;
  margin: 0px;
  min-height: 0;
}

window#waybar {
  background-color: #1F1F28;
  color: #DCD7BA;
}

tooltip {
    background : #16161D;
    border: 1px solid #C8C093;
}

#clock,
#memory,
#cpu,
#custom-spotify,
#tags,
#custom-xbps,
#custom-weather {
  background-color: #363646;
  padding-left: 10px;
  padding-right: 10px;
}

#custom-spotify,
#tags,
#custom-xbps{
  border-radius: 5px;
}

#memory,
#custom-weather {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  padding-right: 0px;
}

#cpu,
#clock {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

#custom-xbps,
#cpu {
    margin-right: 10px;
}

#tags button,
#workspaces button {
  color: #DCD7BA;
}

#tags button.occupied,
#workspaces button.visible {
  color: #7FB4CA;
}

#tags button.focused,
#workspaces button.focused {
  color: #98BB6C;
}

#tags button.urgent,
#workspaces button.urgent {
  color: #FF5D62;
}
