* {
  font-family: 'Fira Code Nerd Font';
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  min-height: 0;
}

window#waybar {
  background-color: #181b20;
  color: #abb2bf;
}

#clock,
#memory,
#cpu,
#workspaces,
#custom-spotify,
#tray,
#custom-powermenu{
  background-color: #31353f;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#custom-spotify,
#workspaces {
  border-radius: 15px;
  margin-left: 5px;
}

#memory,
#clock {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  padding-right: 0px;
}

#cpu,
#custom-powermenu,
#tray {
  margin-left: 0px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  margin-right: 10px
}

#workspaces button {
  color: #c0caf5;
}

#workspaces button.visible {
  color: #5ab0f6;
}

#workspaces button.focused {
  color: #97ca72;
}

#workspaces button.urgent {
  color: #ef5f6b;
}
