[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swaybg -m fill -i "/home/dominik/Pictures/Wallpapers/forrest_blurred.png"
Restart=on-failure
